{include file="/Public/header" /}
{include file="/Public/left"}
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">修改密码</strong> / <small> modification Password</small></div>
      </div>

      <hr/>

      <div class="am-g">
        <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
          <form class="am-form am-form-horizontal" action="passedit" method="post" onsubmit="return dosubmit()">
            <div class="am-form-group">
              <label for="user-password" class="am-u-sm-3 am-form-label">旧密码 / Old Password</label>
              <div class="am-u-sm-9">
                <input type="password" name="password" id="user-name" placeholder="旧密码 / Old Password">
              </div>
            </div>

            <div class="am-form-group">
              <label for="user-password" class="am-u-sm-3 am-form-label">新密码 / New Password</label>
              <div class="am-u-sm-9">
                <input type="password" name="new password" id="user-password" placeholder="输入你的新密码 / New Password" />
              </div>
            </div>

            <div class="am-form-group">
              <label for="user-password" class="am-u-sm-3 am-form-label">确认密码 / Confirm Password</label>
              <div class="am-u-sm-9">
                <input type="password"  id="confirm-password" placeholder="确认你的新密码 / Confirm Password" onblur="error();" />
              </div>
            </div>
            <div>
              <small class="am-u-sm-9" style="color: red; visibility: hidden;"  id="error">两次密码输入不一致！</small>
            </div>

            <div class="am-form-group">
              <div class="am-u-sm-9 am-u-sm-push-3">
                <input type="submit" onclick="return dosubmit();" class="am-btn am-btn-primary" id="form1"  value="保存修改"/>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>

  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<script>
  function error() {
      var password = document.getElementById('user-password').value;
      var confirm = document.getElementById('confirm-password').value;
      if (password == confirm){
          document.getElementById('error').style.visibility = 'hidden'
      }else{

          document.getElementById('error').style.visibility = "visible";
      }
  }

  function dosubmit() {
      var error = document.getElementById('error').style.visibility;
//      alert(error);
      if (error == 'visible'){
          return false;
      }else{
//          document.getElementById('form1').submit();
          return true;
      }
  }
</script>

{include file="/Public/footer" /}
