{include file="/Public/header" /}
<div class="am-cf admin-main">
{include file="/Public/left" /}
<!-- sidebar end -->

<!-- content start -->
<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">
                <ol class="am-breadcrumb">
                    <li><a href="/admin/index/index">首页</a></li>
                    <li>回收站</li>
                    <li><a href="/admin/recycle/gallery">相册</a></li>
                </ol>
            </strong>
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-sm-12">
                <table class="am-table am-table-bd am-table-striped admin-content-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>相册</th>
                        <th>创建日期</th>
                        <th>点击量</th>
                        <th>管理</th>
                    </tr>
                    </thead>
                    <tbody>
                    {if condition="!empty($album)"}
                    {volist name='album' id='value'}
                    <tr>
                        <td>{$value.id}</td>
                        <td><a href="#">{$value.name}</a></td>
                        <td>{$value.add_time|substr=0,10}</td>
                        <td><span class="am-badge am-badge-success">{$value.check_num}</span></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle"
                                        data-am-dropdown-toggle><span class="am-icon-cog"></span> <span
                                        class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content" style="min-width: 80px">
                                    <li>
                                        <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"
                                                style="background-color: #0e90d2; color: #fff; width: 80px; border-color: #fff"
                                                onclick="restore({$value.id})">
                                            还原相册
                                        </button>
                                    </li>
                                    <li>
                                        <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"
                                                style="background-color: #dd514c; color: #fff; width: 80px; border-color: #fff"
                                                onclick="del({$value.id})">
                                            彻底删除
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {/volist}
                    {else /}
                    <tr>
                        <td style="background-color:#ffffff;border-top:0px"><h3>没有被删除的相册</h3></td>
                    </tr>
                    {/if}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer class="admin-content-footer">
        <hr>
        <p class="am-padding-left">Copyright 2018  <a href="http://xiaoyun.com">云间映画工作室</a>. All Rights Reserved.</p>
    </footer>
</div>
<!-- content end -->

{include file="/Public/footer" /}

<script>
    function del(id) {
        if (confirm("确定删除这个相册吗？")) {
            $.ajax({
                url: "/admin/recycle/delGallery",
                data: "id=" + id,
                type: "get",
                success: function (delRes) {
                    if (delRes === 1) {
                        alert("没有这个相册！", history.go(0));
                    } else if (delRes === 0) {
                        alert("相册id不能为空", history.go(0));
                    } else if (delRes === 2) {
                        alert("删除成功", history.go(0));
                    } else if (delRes) {
                        alert("删除失败，换个姿势试试", history.go(0));
                    }
                }
            });
        }
    }

    function restore(id) {
        $.ajax({
            url: "/admin/recycle/restore",
            data: "id=" + id,
            type: "get",
            success: function (Res) {
                if (Res === 1) {
                    alert("没有这个相册！", history.go(0));
                } else if (Res === 0) {
                    alert("相册id不能为空", history.go(0));
                } else if (Res === 2) {
                    alert("还原成功", history.go(0));
                } else if (Res) {
                    alert("还原失败，换个姿势试试", history.go(0));
                }
            }
        });
    }

</script>