<nav id="fh5co-main-nav" role="navigation">
    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle active"><i></i></a>
    <div class="js-fullheight fh5co-table">
        <div class="fh5co-table-cell js-fullheight">
            <ul>
                <li class="active"><a href="/Index/index">Home</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="/Index/about">About</a></li>
                <li><a href="/Index/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>