<!--加载公共头-->
{include file="/Public/header" /}
<body>
<!--加载公共菜单-->
{include file="/Public/menu" /}
	
	<div id="fh5co-page">
		<header>
			<div class="container">
				<div class="fh5co-navbar-brand">
					<h1 class="text-center"><a class="fh5co-logo" href="/Index/index"><i class="icon-camera2"></i></a></h1>
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
				</div>
			</div>
		</header>
		<div id="fh5co-intro-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center animate-box">
						<h2 class="intro-heading">About Us</h2>
					</div>
				</div>
			</div>
		</div>
		<div id="fh5co-about-section">
			<div class="container">
				<div class="row">
                    {volist name='$userInfo' id='value'}
					<div class="col-md-8 col-md-offset-2 text-center animate-box">
						<div class="about">
							<img src="/static/Index/images/Head.jpg" alt="">
						</div>
						<div class="desc">
							<h3>{$value.username}</h3>
							<p>{$value.intro}</p>
							<p class="fh5co-social-icon">
								<a href="https://www.instagram.com/xiaoyunxiansheng/" target="_blank"><i class="icon-instagram"></i></a>
								<a href="{$value.weibo}" target="_blank"><i class="icon-sina-weibo"></i></a>
							</p>
						</div>
					</div>
                    {/volist}
				</div>
			</div>
		</div>
		<div id="fh5co-photos-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center animate-box">
						<div class="heading-section">
							<h2>6 Photo Collection</h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-md-4 animate-box">
						<a href="#" class="grid-photo" style="background-image: url(/static/index/images/pic7.jpg);">
							<div class="desc" style="active {color: transparent}">
								<h3>Camera</h3>
								<span>12 Photos</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 animate-box">
						<a href="#" class="grid-photo" style="background-image: url(/static/index/images/pic8.jpg);">
							<div class="desc">
								<h3>Wedding</h3>
								<span>100 Photos</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 animate-box">
						<a href="#" class="grid-photo" style="background-image: url(/static/index/images/pic12.jpg);">
							<div class="desc">
								<h3>Drinks</h3>
								<span>45 Photos</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 animate-box">
						<a href="#" class="grid-photo" style="background-image: url(/static/index/images/pic9.jpg);">
							<div class="desc">
								<h3>Camera</h3>
								<span>12 Photos</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 animate-box">
						<a href="#" class="grid-photo" style="background-image: url(/static/index/images/pic14.jpg);">
							<div class="desc">
								<h3>Wedding</h3>
								<span>100 Photos</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 animate-box">
						<a href="#" class="grid-photo" style="background-image: url(/static/index/images/pic11.jpg);">
							<div class="desc">
								<h3>Drinks</h3>
								<span>45 Photos</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{include file="/Public/footer" /}
</body>
</html>

