<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">
                <li><a href="/admin/Index/index"><span class="am-icon-home"></span> 首页</a></li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 管理员模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                        <li><a href="/admin/Admin/adminuser" class="am-cf"><span class="am-icon-check"></span> 个人资料</a></li>
                        <li><a href="/admin/Admin/password"><span class="am-icon-puzzle-piece"></span> 修改密码</a></li>
                    </ul>
                </li>
                <!--<li><a href="admin-form.html"><span class="am-icon-pencil-square-o"></span> 表单</a></li>-->
                <li><a><span class="am-icon-image"></span> 照片设置 </a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" >
                        <li><a href="/admin/Gallery/gallery"><span class="am-icon-book"></span> 相册设置</a></li>
                        <li><a href="admin-log.html"><span class="am-icon-modx"></span> 首页大图</a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>
            </ul>

            <div class="am-panel am-panel-default admin-sidebar-panel">
                <div class="am-panel-bd">
                    <p><span class="am-icon-bookmark"></span> 公告</p>
                    <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
                </div>
            </div>
        </div>
    </div>