{include file="/Public/header" /}

{include file="/Public/left" /}
  <!-- sidebar end -->
  <!-- content start -->
  <div class="admin-content">

    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf">
          <strong class="am-text-primary am-text-lg">相册</strong> / <small>Gallery</small>
        </div>
      </div>

      <hr>

      <ul class="am-avg-sm-2 am-avg-md-4 am-avg-lg-6 am-margin gallery-list">

          {if condition="is_array($title)"}
          {volist name='$title' id='value'}
          {if condition="!empty($gallery)"}
          {volist name='$gallery' id='gallery_id'}
          <li>
              <a href="detail?id={$value.id}">
                  <img class="am-img-thumbnail am-img-bdrs" src="/uploads/{$gallery_id.upload}" alt=""/>
                  <div class="gallery-title">{$value.name}<span style="float: right;margin-right: 30px">count:{$gallery_id.sum}</span></div>
                  <div class="gallery-desc">{$value.add_time|substr=0,10}</div>
              </a>
          </li>
          {/volist}
          {else /}
          <li>
              <a href="detail?id={$value.id}">
                  <img class="am-img-thumbnail am-img-bdrs" src="/uploads/bing-2.jpg" alt=""/>
                  <div class="gallery-title">{$value.name}<span style="float: right">count:0</span></div>
                  <div class="gallery-desc">{$value.add_time|substr=0,10}</div>
              </a>
          </li>
          {/if}
          {/volist}
          {else /}
          <h3>您还没有相册，请先创建相册</h3>
          {/if}


      </ul>

      <div class="am-margin am-cf">
        <hr/>
        <p class="am-fl">共 15 条记录</p>
        <ol class="am-pagination am-fr">
          <li class="am-disabled"><a href="#">&laquo;</a></li>
          <li class="am-active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ol>
      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>

  </div>
  <!-- content end -->

{include file="/Public/footer" /}
